@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&subset=vietnamese');

/** FONT - START */
$font-stack: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
%TITLE {
  font-size: 24px;
  font-weight: bold;
  line-height: 31px;
}
%HEADING {
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
}
%HEADING-2 {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}
%TEXT {
  font-size: 16px;
  line-height: 21px;
}
%HEADING-3 {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}
%SMALL {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}
/** FONT - END */

/** COLOR - START */
$primary: #f7001e;
$red: #f7001e;
$green: #7ed321;
$blue: #0897ee;
$orange: #f5a623;
$purple: #a975d4;
$light-red: #ffe0e0;

$black: #333;
$dark-gray: #9c9c9c;
$gray: #cbcbcb;
$light-gray: #ebebeb;
$ash-gray: #f6f6f6;
$white: #fff;

$color-list: (
  'primary' $primary,
  'red' $red,
  'green' $green,
  'blue' $blue,
  'orange' $orange,
  'purple' $purple,
  'light-red' $light-red,

  'black' $black,
  'dark-gray' $dark-gray,
  'gray' $gray,
  'light-gray' $light-gray,
  'ash-gray' $ash-gray,
  'white' $white,
);
/** COLOR - END */

/** SPACING - START */
$space-xxs: 5px;
$space-xs: 10px;
$space-s: 15px;
$space-m: 20px;
$space-l: 25px;
$space-xl: 30px;
/** SPACING - END */

/** HELPER - START */

%layer-toaa {
  z-index: 10000 !important;
}
%layer-lv4 {
  z-index: 4000 !important;
}
%layer-lv3 {
  z-index: 3000 !important;
}
%layer-lv2 {
  z-index: 2000 !important;
}
%layer-lv1 {
  z-index: 1000 !important;
}
%layer-under {
  z-index: -1;
}

$shadow-low: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
$shadow-hi: 0 -2px 4px 0 rgba(0, 0, 0, 0.07);

/** HELPER - END */
